{% extends "base.html" %}

{% block content %}

    <title>Hello, world!</title>
    
 
    <body>
      {% load bootstrap4 %}
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full' %}
      {{ form.media }}  
      {% include "./base/datepicker.html" %}


    <h1 style="padding: 5px 00px 10px 350px;">Sign Up Here!</h1>

<div class="containeer-Fluid" , style=" padding: 0px 00px 00px 350px; ">
  <div class="row">
   <div class="col-6">
    <form method='post'>  {% csrf_token %}
        {{form}}
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
    
 
   
</div>
 
</div>
 </div> 
 
    </body>

{% endblock %}

